@charset "UTF-8";
/*
Home Banner
*****/

.home-banner {
  background: url(../../images/back-1.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 0;
  position: relative;
}
.banner-title {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 3em;
  color: var(--color-white);
}
.banner-subtitle {
  font-family: var(--font-poppins);
  font-weight: 800;
  font-size: 1em;
  color: var(--color-yellow);
  text-transform: uppercase;
  filter: drop-shadow(1.026px 2.819px 1.5px rgba(0,0,0,0.33));
}
.banner-subtitle span {
  font-size: 2rem;
  margin-left: 10px;
}
.banner-desc {
  font-size: 0.75em;
  font-family: var(--font-poppins);
  font-weight: 400;
  color: var(--color-white);
}
.home-banner .btn-green {
  margin: 2rem 0;
  padding: 0.85rem 3rem;
  font-size: 0.85em;
}
.home-banner .btn-green:hover {
  color: var(--color-black);
}
.banner-left {
  position: relative;
}
.scene {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .home-banner {
    padding-top: 5rem;
  }
  .banner-left {
    position: absolute;
    top: 0;
    left: 7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .home-banner {
    padding-top: 8rem;
    padding-bottom: 0;
  }
  .banner-subtitle span {
    font-size: 1.8em;
  }
  .home-banner .btn-green,
  .banner-desc {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 1366px) {
  .home-banner {
    font-size: 180%;
  }
}