@charset "UTF-8";
.btn-violet {
  padding: 0.85rem 3rem;
  border-radius: 28px 35px 18px 28px;
  filter: drop-shadow(2.394px 6.578px 0px var(--btn-shadow));
  background-color: var(--bg-violet);
  font-family: var(--font-quicksand);
  font-weight: 700;
  font-size: 1em;
  color: var(--color-white);
  text-align: center;
}

.btn-green {
  padding: 0.85rem 3rem;
  border-radius: 28px 35px 18px 28px;
  filter: drop-shadow(2.394px 6.578px 0px var(--btn-shadow));
  background-color: var(--bg-green);
  font-family: var(--font-quicksand);
  font-weight: 700;
  font-size: 1em;
  color: var(--color-white);
  text-align: center;
}
.btn-blue {
  padding: 0.85rem 3rem;
  border-radius: 28px 35px 18px 28px;
  filter: drop-shadow(2.394px 6.578px 0px var(--btn-shadow));
  background-color: var(--bg-blue);
  font-family: var(--font-quicksand);
  font-weight: 700;
  font-size: 1em;
  color: var(--color-white);
  text-align: center;
}
.btn-white {
  padding: 0.85rem 3rem;
  border-radius: 28px 35px 18px 28px;
  filter: drop-shadow(2.394px 6.578px 0px var(--btn-shadow));
  background-color: var(--color-white);
  font-family: var(--font-quicksand);
  font-weight: 700;
  font-size: 1em;
  color: var(--color-black);
  text-align: center;
}