@charset "UTF-8";
.main-footer {
  text-align: center;
  padding: 8rem 0 1.5rem;
  background: url(../../images/footer-bg-shape.png) no-repeat top center;
  position: relative;
  background-size: cover;
}
.main-footer .red-star {
  position: absolute;
  bottom: 6rem;
  left: 2rem;
}
.main-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-footer li {
  font-family: var(--font-quicksand);
  font-weight: 700;
  color: var(--color-white);
  font-size: 1rem;
}
.main-footer li a {
  color: var(--color-white);
}
.main-footer li a:hover {
  color: var(--color-blue);
}
.main-footer .copyright {
  font-family: var(--font-quicksand);
  font-weight: 400;
  color: var(--color-lightblue);
  font-size: 0.75em;
  margin: 2rem 0 0;
}
.footer-socialbar .follow-text {
  font-family: var(--font-quicksand);
  font-weight: 400;
  color: var(--color-green1);
  font-size: 0.85em;
}
.footer-socialbar {
  margin: 2rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 475px;
}
.footer-socialbar a img {
  transition: all 0.5s ease;
}
.footer-socialbar a:hover img {
  margin-top: -10px;
}
@media screen and (min-width: 768px) {
  .main-footer ul {
    display: flex;
    justify-content: space-between;
  }
  .main-footer {
    margin-top: -6rem;
    z-index: 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-footer ul {
    width: 80%;
    margin: 2rem auto 0;
  }
  .main-footer {
    padding-top: 13rem;
    margin-top: -13rem;
  }
  .main-footer .red-star {
    bottom: 10rem;
  }
}