@charset "UTF-8";
.main-header {
  padding: 1rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
}
.nav-toggle {
  display: block;
  width: 50px;
  border: none;
  padding: 0;
  background: none;
}
.nav-toggle span {
  border: 2px solid var(--color-white);
  border-radius: 22px;
  width: 50px;
  position: relative;
  display: inline-block;
  transition: all 0.5s ease;
}
.nav-toggle span:before {
  content: '';
  position: absolute;
  top: -17px;
  left: -2px;
  width: calc(100% + 4px);
  border: 2px solid var(--color-white);
  border-radius: 22px;
  transition: all 0.5s ease;
}
.nav-toggle span:after {
  content: '';
  position: absolute;
  bottom: -17px;
  left: -2px;
  width: calc(100% + 4px);
  border: 2px solid var(--color-white);
  border-radius: 22px;
  transition: all 0.5s ease;
}
.nav-toggle:focus {
  outline: none;
  box-shadow: none;
}
.nav-toggle:hover span,
.nav-toggle:hover span:after,
.nav-toggle:hover span:before {
  border-color: var(--color-blue);
}
.nav-toggle.isClick span {
  border-color: transparent;
}
.nav-toggle.isClick span:after,
.nav-toggle.isClick span:before {
  border-color: var(--color-white);
  left: 0;
}
.nav-toggle.isClick span:after {
  transform: rotate(45deg);
  bottom: -3px;
}
.nav-toggle.isClick span:before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar {
  justify-content: flex-end;
}
.main-navigation ul {
  list-style-type: none;
}
.main-navigation li {
  font-family: var(--font-quicksand);
  font-weight: 700;
  font-size: 1em;
}
.main-navigation li a {
  color: var(--color-white);
  transition: color 0.4s ease;
}
.main-navigation li a:hover,
.main-navigation li.current-menu-item a {
  color: var(--color-blue);
}
@media screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
  .main-navigation {
    text-align: right;
  }
  .main-navigation ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
  }
  .main-navigation li {
    font-size: 0.75em;
  }
  .main-navigation li:not(.nav-btn) {
    padding: 5px;
  }
  .main-navigation li:not(.nav-btn) a {
    padding: 5px;
  }
  .main-navigation li.nav-btn {
    padding: 0.7rem 2rem;
  }
  .navbar {
    align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .main-header {
    padding: 3rem 0 2rem;
  }
  .main-navigation li {
    font-size: 0.85em;
  }
}
@media screen and (min-width: 1366px) {
  .main-header .container {
    max-width: 1300px;
  }
  .main-navigation li {
    font-size: 1em;
  }
}
@media screen and (min-width: 1800px) {
  .main-header .container {
    max-width: 1770px;
  }
  .main-navigation li:not(.nav-btn) a {
    padding: 5px 12px;
  }
}
@media screen and (max-width: 991px) {
  .main-navigation > ul {
    background: var(--bg-dropdown);
    margin: 0;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 82px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    z-index: 12;
    transition: transform 0.5s ease;
  }
  .main-navigation > ul.isOpen {
    transform: translateX(0);
  }
  .main-navigation li {
    padding-top: 1rem;
  }
  .main-navigation li.nav-btn {
    margin-top: 1rem;
  }
}
