@charset "UTF-8";
/**Used Fonts**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

/**Global Font Family**/
:root {
--font-poppins: 'Poppins', sans-serif;
--font-quicksand: 'Quicksand', sans-serif;

--bg-violet: #89038f;
--bg-violet1: #d092e6;
--bg-dropdown: rgba(86,20,88,0.89);
--bg-green: #00b6ab;
--bg-blue: #461782;
--bg-gray: #bebebe;
--bg-pink: #ff5a9c;
--bg-green1: #90d01a;
--bg-green2: #99e291;
--bg-yellow: #ffa800;
--bg-sky: #01a6f8;
--bg-blue1: #371bc4;
--bg-blue2: #3a395b;
--bg-pink1: #f82b8d;
--bg-blue3: #b6d2ff;

--btn-shadow: rgba(209,207,214,0.75);
--btn-shadow1: rgba(37,61,125,0.18);

--color-white: #ffffff;
--color-yellow: #fff005;
--color-blue: #01a6f8;
--color-black: #222222;
--color-text: #333333;
--color-title: #000000;
--color-grey: #5e5e5e;
--color-green: #4f8548;
--color-green1: #34fff3;
--color-lightblue: #7a75cc;
}
/**Default Settings**/
img {
  max-width: 100%;
  height: auto;
}
a {
  display: inline-block;
}
a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-blue);
}
.wrap {
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.noOverflow {
  overflow: hidden;
}
@media screen and (min-width: 1921px) {
  .wrap {
    border: 1px solid #d6d4d4;
  }
}