@charset "UTF-8";

audio {
  display: none;
}
.scene-wrapper {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  position: relative;
  overflow: hidden;
}
.controller {
  position: absolute; 
  right: 3%;
  bottom: 3%;
  background: #000000 url(../../images/activity/player-graphics.gif) center 118px;
  border: none;
  text-indent: -999px;
  overflow: hidden;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.controller.pause {
  background-position: center 28px;
}
.scene {
  width: 100%;
  height: 100%;
}