@charset "UTF-8";

/*
Home Section Global Settings
**/
.section-title {
  font-family: var(--font-poppins);
  font-weight: 700;
  color: var(--color-title);
  font-size: 1.3em;
} 
.section-description {
  font-family: var(--font-quicksand);
  font-weight: 400;
  font-size: 0.85em;
  color: var(--color-text);
}
.wrap:after {
  content: '';
  position: absolute;
  bottom: 20rem;
  left: 0;
  width: 100%;
  height: 24%;
  background: url(../../images/white-bg.jpg) repeat bottom center;
  background-size: contain; 
  z-index: -1;
}
/*
Home Section 2
***/
.home-section2 {
  background: #ffffff url(../../images/home-sec2-bg.jpg) no-repeat center center;
  padding: 1rem 0;
  position: relative;
}
.home-section2 .btn-blue {
  font-size: 0.75em;
  margin-top: 1rem;
}
.home-section2 .girl {
  max-width: 60px; 
  position: absolute;
  top: -6rem;
  left: 2rem;
}
.home-section2 .swiper-slide {
  margin: 0 0 10px;
}
.home-section2 .swiper-button-prev, 
.home-section2 .swiper-button-next {
  top: auto;
  bottom: 14px;
  color: var(--color-white);
  padding: 0 1.3rem;
  border-radius: 45% 45% 45% 50%;
  filter: drop-shadow(2.736px 7.518px 0px var(--btn-shadow));
}
.home-section2 .swiper-button-next {
  right: auto;
  left: 4rem;
  background: var(--bg-gray);
}
.home-section2 .swiper-button-prev {
  background: var(--bg-green);
}
.home-section2 .swiper-button-prev:after, 
.home-section2 .swiper-button-next:after {
  font-size: 0.85em;
} 
.home-section2 .swiper-button-prev:focus, 
.home-section2 .swiper-button-next:focus {
  outline: none;
  box-shadow: none;
}
.home-section2 .swiper-container {
  padding-bottom: 5rem;
  margin: 0 -15px;
}
.home-section2 .deepblue-globe {
  position: absolute;
  bottom: 0;
  right: 1rem;
  max-width: 100px;
}
@media screen and (min-width: 768px) {
  .home-section2 .swiper-container {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .home-section2 {
    font-size: 132%;
    padding: 3rem 0;
  }
  .home-section2 .deepblue-globe {
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 1366px) {
  .home-section2 .girl {
    top: 0;
    left: 1rem;
    max-width: 103px;
  }
}
@media screen and (min-width: 1920px) {
  .home-section2 .girl {
    max-width: 160px;
    left: 4rem;
  }
  .home-section2 {
    padding: 5rem 0;
  }
}

/*
Home Section 3
***/
.home-section3 {
  padding: 1rem 0;
  position: relative;
}
.home-section3 .section-img {
  max-width: 280px;
  margin: 20px auto 0;
}
.home-section3 .section-title {
  margin-bottom: 3rem;
}
.home-section3 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.home-section3 li span {
  border-radius: 52% 36% 60% 48%;
  background: var(--bg-pink);
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 0 15px 0 0;
  display: inline-block;
}
.home-section3 li:nth-child(2) span {
  background: var(--bg-green1);
}
.home-section3 li:nth-child(3) span {
  background: var(--bg-yellow);
}
.home-section3 li:nth-child(4) span {
  background: var(--bg-sky);
}
.home-section3 li img {
  max-width: 40%;
}
.home-section3 li {
  font-family: var(--font-poppins);
  font-weight: 700;
  color: var(--color-grey);
  font-size: 1em;
  letter-spacing: -1px;
  margin: 10px 0;
}
.home-section3 .btn-blue {
  font-size: 0.75em;
  margin-top: 2rem;
}
.scene-section__3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .home-section3 .section-img {
    position: absolute;
    top: 50%;
    right: 0;
    max-width: 220px;
    transform: translateY(-50%);
  }
  .home-section3 li {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 992px) {
  .home-section3 .btn-blue {
    margin-top: 3rem;
  }
  .home-section3 li {
    margin: 2rem 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .home-section3 {
    font-size: 132%;
    padding: 9rem 0 3rem;
  }
}
@media screen and (min-width: 1366px) {
  .home-section3 .section-img {
    max-width: 500px;
  }
}
@media screen and (min-width: 1920px) {
  .home-section3 .section-img {
    max-width: 700px;
  }
}

/*
Home Section 4
***/
.home-section4 {
  background: url(../../images/home-sec4-bg.jpg) repeat top left;
  position: relative;
  padding: 2rem 0 3rem;
  margin: 2rem 0 0;
}
.home-section4 .section-img {
  max-width: 369px;
  text-align: center;
  position: relative;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
}
.home-section4 .section-img .boy-logo {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 62%;
}
.home-section4 .section-img .boy-overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.home-section4:before {
  content: '';
  width: 100%;
  height: 80px;
  position: absolute;
  top: -2px;
  left: 0;
  background: var(--color-white) url(../../images/home-sec4-wave.jpg) repeat-x bottom left;
}
.home-section4:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 156px;
  height: 116px;
  background: url(../../images/home-sec4-cloud.png) no-repeat bottom left;
  background-size: contain;
  display: none;
}
.home-section4 .section-title {
  color: var(--color-white);
}
.home-section4 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 100%;
}
.home-section4 li span {
  border-radius: 52% 36% 60% 48%;
  background: var(--bg-pink);
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 0 15px 0 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.home-section4 li:nth-child(2) span {
  background: var(--bg-green1);
}
.home-section4 li:nth-child(3) span {
  background: var(--bg-yellow);
}
.home-section4 li:nth-child(4) span {
  background: var(--bg-sky);
}
.home-section4 li img {
  max-width: 50%;
}
.home-section4 li {
  font-family: var(--font-poppins);
  font-weight: 700;
  color: var(--color-white);
  font-size: 1em;
  letter-spacing: -1px;
  margin: 2rem 0;
  padding-left: 100px;
  position: relative;
}
.home-section4 .btn-white {
  font-size: 0.75em;
  margin-top: 2rem;
}
.scene-section__4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.scene-section__4 svg {
  overflow: visible;
}
@media screen and (min-width: 768px) {
  .home-section4 .section-img {
    max-width: 369px;
    left: 0rem;
    transform: translateX(0);
    position: absolute;
    top: -9rem;
  }
  .home-section4 .row {
    justify-content: flex-end;
  }
  .home-section4 li {
    width: 50%;
    float: left;
    font-size: 0.8em;
  }
  .home-section4 {
    padding: 10rem 0;
    margin: 10rem 0 0;
  }
  .home-section4:after {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .home-section4 ul li {
    float: left;
    width: 50%;
    margin: 2rem 0;
  }
  .home-section4 .btn-white {
    margin-top: 3rem;
  }

}
@media screen and (min-width: 1200px) {
  .home-section4 {
    font-size: 152%;
  }
  .home-section4 .section-img {
    max-width: 569px;
    top: -16rem;
    left: 2rem;
  }
  .home-section4 .section-img .boy-logo {
    bottom: 8rem;
  }
  .home-section4 li {
    font-size: 1em;
  }
}

/*
Home Section 5
***/
.home-section5 {
  margin-top: -2px;
  padding: 0 0 4rem;
  position: relative;
}
.home-section5 .section-description {
  font-size: 0.75em;
}
.home-section5 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 100%;
}
.home-section5 li {
  padding: 10px 0 10px 45px;
  position: relative;
  font-family: var(--font-quicksand);
  font-weight: 700;
  color: var(--color-text);
  font-size: 1em;
}
.home-section5 li:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 33px;
  height: 33px;
  background: url(../../images/pensil-type.png) no-repeat center center;
}
.home-section5 .btn-blue {
  margin-top: 2rem;
  font-size: 0.65em;
}
.home-section5 .news-leaf {
  position: absolute;
  top: 30%;
  left: 2rem;
  max-width: 30px;
}
.blue-wavy {
  max-width: 885px;
  width: 100%;
  z-index: 1;
}
.blue-wavy svg {
  overflow: visible;
}
@media screen and (min-width: 768px) {
  .home-section5 li {
    width: 50%;
    float: left;
  }
  .home-section5 .blue-wavy {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 40%;
  }
  .home-section5 .section-title {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 1200px) {
  .home-section5 {
    font-size: 152%;
  }
  .home-section5 .section-title {
    margin-bottom: 4rem;
  }
  .home-section5 ul {
    margin-top: 3rem;
  }
  .home-section5 .btn-blue {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 1366px) {
  .home-section5 .news-leaf {
    max-width: 70px;
    top: 60%;
  }
}

/*
Home Section 6
***/
.home-section6 {
  background: var(--bg-green2);
  padding: 2rem 0;
}
.home-section6 .section-title {
  color: var(--color-green);
  margin-bottom: 1.5rem;
}
.home-section6 .tel-text {
  font-size: 1em;
  font-family: var(--font-quicksand);
  color: var(--color-black);
  font-weight: 700;
  margin: 1.5rem;
}
.home-section6 .tel-text img {
  margin-right: 0.5rem;
}
.home-section6 .location {
  font-size: 0.85em;
  font-family: var(--font-quicksand);
  color: var(--color-text);
  font-weight: 700;
}
.home-section6 .btn-blue {
  display: block;
}
@media screen and (min-width: 768px) {
  .home-section6__contact {
    flex-direction: row;
    align-items: center;
  }
  .home-section6 .btn-blue {
    display: inline-block;
  }
  .home-section6 {
    padding-top: 8rem;
    padding-bottom: 5rem;
    position: relative;
  }
  .home-section6:after {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 107px;
    background: url(../../images/green-wave.jpg) no-repeat top left;
  }
  .home-section6:before {
    content: '';
    position: absolute;
    top: -5rem;
    left: 13rem;
    width: 400px;
    height: 200px;
    background: url(../../images/blue-cloud.png) no-repeat top left;
    z-index: 1;
    background-size: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .home-section6 {
    font-size: 142%;
  }
  .home-section6 .btn-blue {
    font-size: 0.65em;
  }
  .home-section6 .tel-text {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
@media screen and (min-width: 1920px) {
  .home-section6 .tel-text {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/*
Home Section 7
***/
.home-section7 {
  padding: 2rem 0;
  text-align: center;
  position: relative;
}
.home-section7 .section-title {
  margin: 2rem 0;
  font-size: 1.5em;
}
.home-section7 .swiper-slide img {
  border-radius: 135px;
}
.home-section7 .btn-blue {
  margin: 4rem 0 1rem;
}
.home-section7:before {
  content: '';
  position: absolute;
  top: -2rem;
  left: 2rem;
  background: url(../../images/thumb-shape.png) no-repeat top left;
  width: 152px;
  height: 160px;
}
.home-section7 .swiper-button-prev, 
.home-section7 .swiper-button-next {
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-white);
  padding: 0 1.3rem;
  border-radius: 45% 45% 45% 50%;
  filter: drop-shadow(2.736px 7.518px 0px var(--btn-shadow));
}
.home-section7 .swiper-button-next {
  background: var(--bg-gray);
}
.home-section7 .swiper-button-prev {
  background: var(--bg-green);
}
.home-section7 .swiper-button-prev:after, 
.home-section7 .swiper-button-next:after {
  font-size: 0.85em;
} 
.home-section7 .swiper-button-prev:focus, 
.home-section7 .swiper-button-next:focus {
  outline: none;
  box-shadow: none;
}
.home-section7 .swiper-container {
  margin: 0 -15px;
}
@media screen and (min-width:768px) {
  .home-section7 .swiper-slide {
    width: 50%;
  }
  .home-section7 .swiper-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .home-section7 .swiper-button-next {
    right: 0;
  }
  .home-section7 .swiper-button-prev {
    left: 0;
  }
  .home-section7 .btn-blue {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width:1200px) {
  .home-section7 .swiper-slide {
    width: 20%;
  }
  .home-section7 {
    font-size: 150%;
  }
  .home-section7 .btn-blue {
    font-size: 0.65em;
  }
  .home-section7:before {
    left: 4rem;
  }
}
/*
Home Section 8
***/
.home-section8 {
  background: var(--bg-pink1);
  padding: 4rem 0 2rem;
  position: relative;
}
.home-section8::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 40px;
  background: url(../../images/home-testimonial-wave.png) repeat-x top left;
}
.home-section8 .swiper-slide {
  margin: 0 0 10px;
}
.home-section8 .swiper-button-prev, 
.home-section8 .swiper-button-next {
  top: auto;
  bottom: 14px;
  color: var(--color-white);
  padding: 0 1.3rem;
  border-radius: 45% 45% 45% 50%;
  filter: drop-shadow(2.736px 7.518px 0px var(--btn-shadow));
}
.home-section8 .swiper-button-next {
  right: auto;
  left: 4rem;
  background: var(--bg-violet1);
}
.home-section8 .swiper-button-prev {
  background: var(--bg-violet1);
}
.home-section8 .swiper-button-prev:after, 
.home-section8 .swiper-button-next:after {
  font-size: 0.85em;
} 
.home-section8 .swiper-button-prev:focus, 
.home-section8 .swiper-button-next:focus {
  outline: none;
  box-shadow: none;
}
.home-section8 .swiper-container {
  padding-bottom: 5rem;
  margin: 0 -15px;
}
.home-section8 .section-title {
  color: var(--color-white);
  text-align: center;
}
.home-section8 .section-description {
  color: var(--color-white);
  font-size: 0.75em;
}
.home-section8 .author {
  font-family: var(--font-quicksand);
  font-weight: 700;
  color: var(--color-white);
  font-size: 1.2rem;
}
.home-section8 .swiper-slide img {
  margin-bottom: 1rem;
}
.home-section8 .leaf {
  position: absolute;
  bottom: -2rem;
  right: 6rem;
}
.home-section8 .book {
  position: absolute;
  top: 0rem;
  right: 4rem;
  max-width: 50px;
}
.home-section8 .star {
  position: absolute;
  top: 6rem;
  right: 10rem;
  z-index: 0;
}
.home-section8 .girl {
  display: none;
}
.home-section8 .arrows {
  position: absolute;
  bottom: 0px;
  padding-left: 25px;
}
@media screen and (min-width: 768px) {
  .home-section8 .swiper-container {
    padding-bottom: 1rem;
  }
  .home-section8 .swiper-button-prev {
    left: 40%;
  }
  
  .home-section8 .section-title {
    max-width: 200px;
    margin: 1rem auto;
  }
  .home-section8 .swiper-button-prev, 
  .home-section8 .swiper-button-next {
    bottom: -5px;
  }
  .home-section8 .star {
    top: 4rem;
    right: 16rem;
  }
  .home-section8 .arrows {
    left: 15%;
    bottom: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .home-section8 {
    font-size: 132%;
  }
  .home-section8 .section-title {
    max-width: 260px;
  }
  .home-section8 .book {
    max-width: 100px;
    top: -3rem;
  }
  .home-section8 .star {
    right: 26rem;
  }
  .home-section8 .girl {
    display: block;
    position: absolute;
    bottom: 0;
    left: 6rem;
    max-width: 232px;
  }
}
@media screen and (min-width: 1920px) {
  .home-section8 .girl {
    max-width: 400px;
  }
  .home-section8 {
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
}
/*
Home Section 9
***/
.home-section9 {
  padding: 3rem 0;
  position: relative;
}
.home-section9 .section-title {
  text-align: center;
  margin-bottom: 3rem;
}
.home-section9 .image-wrapper {
  max-width: 345px;
  background: url(../../images/image-outer-shape.png) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  filter: drop-shadow(5.814px 15.975px 0px var(--btn-shadow1));
}
.home-section9 .post-title {
  font-size: 1.2em;
  font-family: var(--font-quicksand);
  font-weight: 700;
  margin-top: 40px;
}
.home-section9 .post-title a {
  color: var(--color-text);
}
.home-section9 .post-title a:hover {
  color: var(--color-blue);
}
.home-section9 .post-date {
  font-family: var(--font-quicksand);
  font-weight: 400;
  color: var(--color-text);
  font-size: 0.85em;
  margin: 1rem 0;
}
.home-section9 .post-date img {
  margin-right: 0.5rem;
}
.home-section9 .swiper-slide {
  margin: 1rem 0;
}
.home-section9 .swiper-slide p {
  font-family: var(--font-quicksand);
  font-weight: 400;
  font-size: 0.85em;
  color: var(--color-text);
}
.home-section9 .link-readmore {
  font-family: var(--font-quicksand);
  font-weight: 700;
  color: var(--color-black);
  font-size: 0.95em;
  border-bottom: 2px solid var(--color-black);
}
.home-section9 .link-readmore:hover {
  color: var(--color-blue);
  border-bottom-color: var(--color-blue);
}
.home-section9 .btn-blue {
  margin: 3rem auto;
}
.home-section9 .news-leaf {
  position: absolute;
  bottom: 8rem;
  left: 1rem;
  max-width: 50px;
}
.home-section9 .ring {
  position: absolute;
  bottom: 8rem;
  right: 1rem;
  max-width: 50px;
}
.home-section9 .swiper-button-prev, 
.home-section9 .swiper-button-next {
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-white);
  padding: 0 1.3rem;
  border-radius: 45% 45% 45% 50%;
  filter: drop-shadow(2.736px 7.518px 0px var(--btn-shadow));
}
.home-section9 .swiper-button-next {
  background: var(--bg-gray);
}
.home-section9 .swiper-button-prev {
  background: var(--bg-green);
}
.home-section9 .swiper-button-prev:after, 
.home-section9 .swiper-button-next:after {
  font-size: 0.85em;
} 
.home-section9 .swiper-button-prev:focus, 
.home-section9 .swiper-button-next:focus {
  outline: none;
  box-shadow: none;
}
.home-section9 .swiper-container {
  margin: 0 -15px;
}
@media screen and (min-width: 768px) {
  .home-section9 .swiper-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .home-section9 .swiper-button-next {
    right: 0;
  }
  .home-section9 .swiper-button-prev {
    left: 0;
  }
  .home-section9 .news-leaf {
    max-width: 72px;
  }
  .home-section9 .ring {
    max-width: 80px;
  }
  .home-section9 .post-title {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .home-section9 {
    font-size: 162%;
    padding: 6rem 0 8rem;
  }
  .home-section9 .swiper-slide {
    font-size: 70%;
  }
  .home-section9 .btn-blue {
    font-size: 0.75em;
  }
  .home-section9 .ring {
    right: 4rem;
  }
  
}
@media screen and (min-width: 1920px) {
  .home-section9 .ring {
    max-width: 120px;
  }
  .home-section9 .news-leaf {
    left: 10rem;
  }
}

/*
Home Section 10
***/
.home-section10 .home-section10__form {
  padding: 3rem 2rem;
  background: url(../../images/form-bg.png) no-repeat top center;
  background-size: cover;
  filter: drop-shadow(9.577px 26.311px 0px var(--btn-shadow1));
  max-width: 1171px;
  position: relative;
}
.home-section10__form .earth {
  position: absolute; 
  top: 92%;
  right: 5rem;
  max-width: 100px;
}
.home-section10__form .love-sym {
  position: absolute;
  top: -2rem;
  left: 1rem;
}
.home-section10 .section-title {
  text-align: center;
  font-size: 1.5em;
  margin: 2rem 0
}
.home-section10__form .form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px dotted var(--color-white);
  background: transparent;
  color: var(--color-text);
  font-size: 0.85em;
  font-family: var(--font-poppins);
  font-weight: 400;
}
.home-section10__form label {
  font-family: var(--font-quicksand);
  font-weight: 700;
  color: var(--color-white);
  font-size: 0.95em;
}
.home-section10__form .form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--color-white);
}
.home-section10__form .btn-blue:hover {
  color: var(--color-blue);
}
.home-section10__form .btn-blue:focus {
  outline: none;
  box-shadow: none;
}
.home-section10__form .form-control.error {
  border: 1px solid var(--bg-pink1);
  background: var(--bg-pink1);
}
.home-section10__form label.error {
  color: var(--bg-blue2);
  font-size: 0.6em;
}
@media screen and (min-width: 600px) {
  .home-section10__form form {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .home-section10 .baby-with-mic {
    position: absolute;
    top: 8rem;
    z-index: 12;
  }
  .home-section10__form {
    position: relative;
    z-index: 12;
  }
  .home-section10__form .earth {
    top: -2rem;
  }
  
}
@media screen and (min-width: 1200px) {
  .home-section10 {
    font-size: 120%;
  }
  .home-section10__form label {
    font-size: 0.85em;
  }
  .home-section10__form .form-control {
    font-size: 0.75em;
  }
  .home-section10 .home-section10__form {
    padding-left: 7rem;
    padding-right: 3rem;
    background-position: 0 15px;
  }
  .home-section10__form .earth {
    top: 0rem;
  }
  .home-section10 .baby-with-mic {
    top: -4rem;
  }
  .home-section10__form label.error {
    font-size: 0.75em;
  }
}
@media screen and (min-width: 1920px) {
  .home-section10 .container-fluid {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .home-section10__form .earth {
    max-width: 200px;
  }
  .home-section10 .home-section10__form {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
  .home-section10 .section-title {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
  .home-section10__form .btn-blue {
    margin-top: 1rem;
  }
  .home-section10 .baby-with-mic {
    top: 4rem;
  }
}